<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
</head>
<body>


<div class="container page_content_offset">
    <div class="col-md-12">
        <div class="page-header">
            Dear, {{ name }} we have reset your password. Your new password is {{ plainPass }}.
        </div>
    </div>

</div><!-- /.container -->
</body>
</html>