<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
</head>
<body>


<div class="container page_content_offset">
    <div class="col-md-12">
        <div class="page-header">
            You've successfully registered, {{ name }}!.
        </div>
        <h3>You can now activate your account by <a href="{{ path('userActivation', {'token': token}) }}">clicking this link.</a></h3>
    </div>

</div><!-- /.container -->
</body>
</html>