.circle {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 0;
  padding: 75px 0;
  border-radius: 75px;

  /* Just making it pretty */
  @shadow: rgba(0, 0, 0, 0.1);
  @shadow-length: 4px;
  background: rgba(56,169,225, 0.3);
  color: white;
}


.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  padding: 0;
  margin-bottom: 0;
  min-height: 900px !important;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: auto;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
}

.video-container video.fillSpace {
  width: 100%;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.video-container .title-container {
  z-index: 1000;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
}