html {
  padding-bottom: 30px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

body {
  min-width: 360px !important;
  height: 100%;
  margin: 0;
}

.image-background {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/seigaiha.png");
}

.sand-background {
  background-color: antiquewhite;
}

.grey-background {
  background-color: rgb(220,220,220);
}

.footer {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}

.titleN {
  margin: 20px auto;
  text-align: center;
  font-size: 46px;
  font-family: 'Century Gothic, sans-serif';
}

.bungeeS {
  font-family: 'Bungee Hairline', cursive;
  font-size: 35px;
}

.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 40px;
}

.font-50 {
  font-size: 50px;
}

.boldS{
  font-weight: bold;
}

.latoS {
  font-family: 'Lato';
  font-weight: bold;
}

.center{
  text-align: center;
}

.allignCenter{
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.allign-center{
  text-align: center;
  vertical-align: middle;
}

.btnY{
  width: 90%;
  border: 2px ridge white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.btnY:hover {
  border: 2px ridge yellow;
  border-radius: 5px;
}

#hours, #minutes, #seconds{
  display: inline-block;
}

.navbar{
  border: none;
  background-color: white;
}

.panel-grey{
  background-color: lightslategray !important;
  border-color: black !important;
}

.label-width{
  width: 80px;
}

.black-text-bold{
  color: black;
  font-weight: bold;
}

#formCategories, .loginForm, .registerForm{
  display: none;
}

.navbar{
  margin-bottom: 0px;
}

.user-count{
  position: relative;
  bottom: 35px;
}

.opacity{
  position: relative;
  background: rgba(255,255,255,0.25);
}

.position-topmost{
  z-index: 10000;
}