html {
  padding-bottom: 30px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
}

.list-social a {
  width: 30px;
  height: 30px;
  margin: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.list-social {
  list-style: none outside none;
  overflow: hidden;
  margin: 0;
}

.list-social li {
  float: left;
  margin-left: 5px;
}
.list-social a:hover {
  background-position: 0 bottom;
}

.list-social a.icon-1 {
  background-image: url("../images/soc-icon-1.png");
}

.list-social a.icon-4 {
  background-image: url("../images/soc-icon-4.png");
}

.list-social {
  float: none !important;
}

.black-background {
  min-height: calc(100vh - 80px) !important;
  background-image: url("../images/black.jpg");
}

.white-text{
  color: white;
}

.dark-text{
  color:  #241C1A;
}

.orange-text{
  color:  #F25C27;
}

.orange-background {
  background-color: #F25C27;
}

.footer {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}

.titleN {
  margin: 20px auto;
  text-align: center;
  font-size: 46px;
  font-family: 'Century Gothic, sans-serif';
}

.bungeeS {
  font-family: 'Bungee Hairline', cursive;
  font-size: 35px;
}

.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 40px;
}

.font-50 {
  font-size: 50px;
}

.boldS{
  font-weight: bold;
}

.latoS {
  font-family: 'Lato';
  font-weight: bold;
}

.center{
  text-align: center;
}

.allignCenter{
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.allign-center{
  text-align: center;
  vertical-align: middle;
}

.btnY{
  width: 90%;
  border: 2px ridge white !important;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  white-space: pre-wrap !important;
}

.btnY:hover {
  border: 2px ridge yellow;
  border-radius: 5px;
}

#hours, #minutes, #seconds{
  display: inline-block;
}

.navbar{
  border: none;
  background-color: white;
}

.panel-grey{
  background-color: lightslategray !important;
  border-color: black !important;
}

.label-width{
  width: 80px;
}

.black-text-bold{
  color: black;
  font-weight: bold;
}

.navbar{
  margin-bottom: 0px;
}

.alert{
  margin-bottom: 0;
  padding: 0;
}

.dd66{
  color: black;
}

.dd77{
  color: red;
}

.dd88{
  color: green;
}

.color-background-text{
  font-size: 25px;
  font-family: "Times New Roman";
  display: inline-block;
  padding: 5px;
}
.color-background-text:hover {
  color: inherit;
  border-color: black;
}

.margin-0{
  margin: 0 !important;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}
a:hover{
  color: black;
}

.mg10 {
  margin-top:10px;
  margin-bottom: 10px;
}

.black-text{
  color: black;
}

#countdown p {
  font-size: 25px;
  font-family: "Times New Roman";
  display: inline-block;
  color: black;
  padding: 5px;
  background: #E0BE23;
  margin: 0 0 5px;
  margin-top: 10px;
}

label{
  font-weight: normal !important;
}

.leaderboard-thumb {
  height: 50px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color :black;
}

.yellow{
  color: #E7C82C;
}

.blue-new{
  background-color: #3498db;

}

.grey-new{
  background-color: #F9F9F9;

}

.navbar-default .navbar-brand:hover{
  color: #FFFFFF;

}

.paddin-0{
  padding: 0;
}

.blue-bg {
  background-color: #3498db;
}

.data-row {
  background-color: #3498db;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.info {
  color: white;
  font-size: 20px;
}

#leaderboard_length > label:nth-child(1) > select:nth-child(1) {
  color: #222;
}

#leaderboard_length > label:nth-child(1), #leaderboard_info, #leaderboard_previous, #leaderboard_next {
  color: white !important;
  font-size: 20px;
}

.answer {
  margin-bottom: 10px;
}

#answers {
  display: inline;
}

.dropdown-2:focus, .dropdown-2:hover, .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent !important;
  color: #353939 !important;
}

.dropdown-2:focus, .dropdown-2:hover, .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  font-weight: 700;
}

.dropdown-2 {
  font-weight: 700;
}

.bold500 {
  font-weight: 500;
}

.bold600 {
  font-weight: 600;
}

.crlgr {
  color: #353939;
}

.seen {
  font-weight: 900;
}

.img-circle {
  border-radius: 50%;
}

.inline-block{
  display: inline-block;
}

.img-circle-b {
  width: 85%;
  max-width: 150px;
  display: block;
}

.curvy{
  width: 40px;
  height: 40px;
}

.mg-0{
  margin: 0;
}

input[type=radio]{
  margin: 5px;
}

input[type=checkbox]{
  margin: 5px;
}