
    <div class="input-group">
        <span class="input-group-addon">
            {{ form_widget(answer.correct) }}
        </span>
        {{ form_widget(answer.content, {attr: {class: 'input input-lg form-control'}}) }}
    </div>
