{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endfor %}

    <div class="allignCenter">
        <button class="btn btn-1 btn-1e">Button</button>
    </div>





    <!--primary content test buttons-->
    <div class="grey-background">
        <div class="container">
            <div class="titleN">PHP knowledge evaluation tests</div>

            <div class="row bungeeS">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded boldS">Zend testas</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a href="/" class="buttonB rounded boldS">
                        Bendrasis <br>
                        <div class="font-20">žinių testas</div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 allignCenter">
                    <a class="buttonB rounded boldS formButton">Temos testas</a>
                </div>
            </div>

            <div class="allignCenter formCategories">
                <div class="panel-group panel-grey">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><p class="titleN">Testų kategorijos</p></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">PHP</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">Basic</button></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                    <a href="/login"><button type="submit" class="btn btnY">String</button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--secondary content test info-->
    <div class="sand-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 allignCenter">
                    <h2 class="bungeeS boldS font-20 allignCenter">Join us</h2>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>
                    <p>Number</p>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 allignCenter">
                    <div class="bungeeS boldS font-20 ">
                        <iframe  width="auto" height="auto" allowfullscreen frameborder="0"
                                 src="https://www.youtube.com/embed/Y2JbjD1wGsw">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <!--testo timeris-->
        <div class="font-20">
            <div id="loading" class=""></div>
            <div id="hours">00</div><span>:</span><div id="minutes">00</div><span>:</span><div id="seconds">00</div>
        </div>

        <div class="row">
            <!--test junk-->
            <h1>Progress Buttons</h1>

            <a id="submitButton" href="#" class="progress-button">Submit</a>

            <a id="actionButton" href="#" class="progress-button green" data-loading="Working.." data-finished="Finished!" data-type="background-bar">Action!</a>

            <a id="generateButton" href="#" class="progress-button red" data-loading="Generating.." data-finished="Download" data-type="background-vertical">Generate</a>

            <h1>Progress Control</h1>

            <a id="controlButton" href="#" class="progress-button">Start</a>

            <div class="control-area">
                <a class="command increment">Increment</a>
                <a class="command set-to-1">Set to 1%</a>
                <a class="command set-to-50">Set to 50%</a>
                <a class="command finish">Finish</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
