{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endfor %}
    <div class="titleN">Podelis</div>
{% endblock %}
