{% extends "::base.html.twig" %}

{% block title %}Leaderboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
   <div class="container">
       <div class="page-header">
           <h1 class="white-text">Top testifiers</h1>
       </div>
       <table class="table blue-bg" id="leaderboard">
           <thead class="white-text">
           <tr class="white-text">
               <th>Avatar</th>
               <th>Name</th>
               <th>Correct answers</th>
               <th>Incorrect answers</th>
               <th>Tests taken</th>
               <th>Correct ratio</th>
               <th>Time spent</th>
           </tr>
           </thead>
           <tbody class="blue-bg white-text">
           <tr class="blue-bg white-text">
               <td colspan="3" class="dataTables_empty">Loading data from server</td>
           </tr>
           </tbody>
           <tfoot class="white-text blue-bg">
           <tr class="white-text">
               <th>Avatar</th>
               <th>Name</th>
               <th>Correct answers</th>
               <th>Incorrect answers</th>
               <th>Tests Taken</th>
               <th>Correct ratio</th>
               <th>Time spent</th>
           </tr>
           </tfoot>
       </table>
       </table>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        leaderboard('{{ path('leaderboard') }}', $('#leaderboard'));
    </script>
{% endblock %}
