body
{
    background-color: #3498db;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
}

h1
{
    font-size: 40px;
}

h3
{
    color: #ffffff;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
}

h4
{
    font-weight: 400;
    font-size: 20px;
}

/* Paragraph & Typographic */

p
{
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered
{
    text-align: center;
}

/* Links */

a
{
    color: black;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus
{
    color: saddlebrown;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after
{
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default
{
    background-color: #3498db;
    border-color: transparent;
}

.navbar-default .navbar-brand
{
    color: white;
}

.navbar-default .navbar-nav > li > a
{
    color: white;
}

/*.form-control*/
/*{*/
    /*height: 42px;*/
    /*font-size: 18px;*/
    /*width: 280px;*/
/*}*/

i
{
    margin: 8px;
    color: #3498db;
}

/* HeaderWrap */

#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #3498db;
	margin-top: -20px;
	padding-top:10px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

