{% extends "::base.html.twig" %}

{% block title %}Send an activation link{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    <button type="submit">Send activation link!</button>
    {{ form_end(form) }}
{% endblock %}