
{% extends "::base.html.twig" %}

{% block title %}SandboxBundle:Show:showInfo{% endblock %}

{% block body %}
<h1>Discovery space shuttle</h1>
{{ discovery.engine }}
{{ discovery.crew }}
{% endblock %}