<!-- Static navbar -->
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand latoS" href="/">
                    {% image 'bundles/app/dist/php.png' %}
                        <img src="{{ asset_url }} " alt="Logo" width="50px" align="left"/> &nbsp PHP testai
                    {% endimage %}
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Bendras testas</a></li>
                    <li><a href="/">ZEND testas</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Testai pasirinktiniai <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/customTest/1">List</a></li>
                            <li><a href="/">String</a></li>
                            <li><a href="/">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Atskiriklis</li>
                            <li><a href="/">Separated link</a></li>
                            <li><a href="/">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('login') }}">Prisijungti</a></li>
                    <li><a href="{{ path('register') }}">Registruotis</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>